<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rails Demo: Cooking Recipes App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <%= yield %>
  
  <% if Rails.env.development? %>
    <script type="module" src="http://localhost:5174/@vite/client"></script>
    <script type="module" src="http://localhost:5174/app/frontend/main.ts"></script>
  <% else %>
    <script type="module" src="/assets/app.js"></script>
  <% end %>
</body>
</html>
